body {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(117, 117, 117, 0.3) 100%
  );
  font-family: "Anton", sans-serif;
}

.body {
  display: block;
  margin: 40px auto;
  padding: 50px;
  border-radius: 1.25rem;
  max-width: 600px;
  min-width: 50%;
}

.bodyBottom {
  display: block;
  margin: 50px auto;
  padding: 20px;
  border-radius: 1.25rem;
  max-width: 600px;
  min-width: 50%;
}

.bodySearch {
  display: block;
  margin: 50px auto;
  padding: 20px;
  border-radius: 1.25rem;
  max-width: 600px;
  min-width: 50%;
}

.right {
  text-align: right;
}

div {
  display: inline;
}

.inputBtn {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inputBtn:hover {
  background-color: yellow;
}

.skyB {
  text-transform: capitalize;
}

.degree-today {
  font-size: 60px;
}
