body {
  background-color: #dc9fb4;
}

.body {
  background-color: #eb7a77;
  display: block;
  margin: 50px;
  padding: 20px;
}

div {
  display: inline;
}

#table {
  margin: 0 auto;
}

.btn-outline-secondary {
  color: white;
  border-color: #6c757d;
  background-color: #dc9fb4;
}
